

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand"  href="#">
        <img src="../assets/imgs/marca-nature-invest.png" class="d-inline-block align-top img-responsive" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" >invista <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="createCampanha">criar campanha</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="comoFunciona">como funciona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4000/admin.html">Admin</a>
            </li>
        </ul>
    </div>
</nav>
